# Separación de las muestras 

Esta es un pequeño ejemplo de cómo usar el método creado para separar las series de tiempo que resultan de las diferentes observaciones de un objeto.

Primero importamos las bibliotecas tradicionales y además traemos la clase que creamos para separar las series de tiempo.

In [1]:
import numpy as np
import pandas as pd
from separate_samples import Separate_samples
from bokeh.plotting import figure

Cargamos los datos

In [2]:
df_train = pd.read_csv('data/training_set.csv')
obj_615 = df_train[df_train['object_id'] == 615]

E instanciamos la clase, que nos permitirá separar la serie de tiempo `ts` del objeto 615

In [3]:
ss = Separate_samples()

samples = ss.get_separated_samples(obj_615)
samples[0]

<separate_samples.Separate_samples object at 0x7f8ced408898>

0              (59750.4229, -544.810303)
1       (59750.4306, -816.4343259999999)
2              (59750.4383, -471.385529)
3               (59750.445, -388.984985)
4               (59752.407, -681.858887)
5      (59752.4147, -1061.4570310000001)
6               (59752.4224, -524.95459)
7              (59752.4334, -393.480225)
8               (59752.4435, -355.88678)
9               (59767.2968, -548.01355)
10      (59767.3045, -815.1885990000001)
11     (59767.3122, -475.51605199999995)
12             (59767.3233, -405.663818)
13             (59767.3343, -421.199066)
14      (59770.2179, -554.9031980000001)
15             (59770.2256, -820.042786)
16              (59770.2334, -477.00473)
17             (59770.2445, -400.270386)
18             (59770.2557, -415.286896)
19             (59779.3188, -630.523682)
20      (59779.3265, -921.0025019999999)
21             (59779.3342, -518.533997)
22             (59779.3452, -422.184509)
23     (59779.3562, -422.81509400000004)
24     (59782.1897, -280.03952000000004)
25             (59782.1974, -449.095612)
26             (59782.2051, -316.704865)
27             (59782.2162, -332.885437)
28             (59782.2274, -365.075775)
29              (59797.2861, 391.399231)
                     ...
92               (59867.0332, -62.06501)
93              (59867.0443, 202.288223)
94      (59867.0554, 270.58486899999997)
95       (59870.0194, 604.3445429999999)
96              (59870.0272, 659.486694)
97              (59870.0349, 373.986511)
98              (59870.0459, 322.604034)
99              (59870.0571, 263.481476)
100               (59873.0212, 4.656033)
101             (59873.0289, -98.796974)
102     (59873.0366, -93.73288000000001)
103    (59873.0477, -165.79345700000002)
104    (59873.0588, -233.50172400000002)
105             (59874.0599, -97.353195)
106              (59875.0311, -97.52388)
107            (59876.0231, -108.672577)
108            (59877.0238, -116.913223)
109    (59878.0246, -102.76892099999999)
110             (59879.0248, -52.407089)
111              (59880.0258, 55.567715)
112            (59884.0823, -274.711029)
113      (59884.09, -437.42510999999996)
114            (59884.0976, -310.010925)
115             (59884.1085, -317.63092)
116            (59884.1195, -351.278198)
117            (59887.0298, -491.146423)
118            (59887.0375, -743.267212)
119            (59887.0451, -449.714752)
120            (59887.0562, -393.971649)
121            (59887.0673, -406.549103)
Length: 122, dtype: object